@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera";
}

<div class="card shadow border-0 mt-4 mb-5 w-50 mx-auto">
    <div class="card-header bg-secondary ms-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                @if (User.IsInRole(SD.Role_Admin))
                {
                    <h2 class="py-2 text-white">Admin-Portal</h2>
                }
                else
                {
                    <h2 class="py-2 text-white">Registrera konto</h2>
                }
            </div>
        </div>
       
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Namn" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Lösenord" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Bekräfta Lösenord" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="new-phoneNumber" aria-required="true" placeholder="Mobilnummer" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.StreetAddress" class="form-control" autocomplete="new-streetAddress" aria-required="true" placeholder="Gatuaddress" />
                        <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.ZipCode" class="form-control" autocomplete="new-zip code" aria-required="true" placeholder="Postnummer" />
                        <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <input asp-for="Input.City" class="form-control" autocomplete="new-city" aria-required="true" placeholder="Ort" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <div class="mb-3 col-md-6">
                            <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                <option hidden value="">--Välj Roll--</option>
                            </select>
                        </div>
                    }

                    <div class="col-12">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn btn-primary">Registrera</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <section>
                    <p class="pt-3 text-center">eller</p>
                    <div class="text-center">
                        <h3>Logga in med:</h3>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                var logoPath = provider.Name == "Facebook" ? "~/images/logos/facebookLogo.png" : "~/images/logos/googleLogo.png";
                                                <button type="submit" class="btn btn-white p-0 border-0 ms-2 me-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="@Url.Content(logoPath)" style="height:50px" /></button>
                                            }


                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
