@model IEnumerable<Product>
<link href="~/css/ViewSpecific/Product.css" rel="stylesheet" />

 <div class="row">         
@foreach (var item in Model)
{
        <div class="col-md-6 col-lg-4 col-xl-3 mb-4"> <!-- Ändrat till col-sm-3 och col-lg-3 för att få plats med fyra kort per rad -->      
           <div class="card-body product-body">
               <div class="card h-100">
               
            <a asp-action="Details" asp-route-id="@item.ProductId" class="text-decoration-none">
            
                <div class="image-container">
                @if (item.Images != null && item.Images.Count > 0)
                {
                        <img src="@item.Images.First().URL" class="card-img-top img-fluid rounded mb-5" style="width:400px"  />
                }
                else
                {
                    <img src="https://placehold.co/100x100" class="card-img-top rounded" />
                }   
                </div>


                   <div class="info-container text-center">
                    <h5 class="mb-4 text-light"><strong>@item.Title</strong></h5>
                    
                @if (item.IsCampaign && item.TempPrice > 0)
                {
                    <h5><span class="text-decoration-line-through">@item.Price.ToString("C0") </span><span class="text-danger ms-2">@item.TempPrice.ToString("C0")</span></h5>
                }
                else
                {
                   <h5 class="text-light">@item.Price.ToString("C0")</h5>
                }
                   
                         <div class="text-center">
                        <a class="button-pink" asp-action="Details" asp-route-id="@item.ProductId">Visa</a>
                        <a class="button-heart" asp-controller="User" asp-action="AddToList" asp-route-id="@item.ProductId"><i class="bi bi-heart"></i></a>
                        </div>
           
               </div>     
      
        </a>
           </div>  
        </div>
     </div>
      
}
</div>  