@model Cart

<link href="~/css/ViewSpecific/Emil-Details.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<form method="post">
    <div class="details-container">
        <div class="top-links">
            <p>
                <a asp-action="Products" style="color:white">@Model.Product.Category.Title</a>
                <i class="fa fa-angle-right"></i>
                <a>@Model.Product.Title</a>
            </p>
  
        </div>
        <input type="hidden" asp-for="FkProductId"/>
        <div class="row products-details">
            <h2><strong>@Model.Product.Title</strong></h2>
            <div class="col-lg-6">
                <div class="p-2 mx-auto">
                    @if (Model.Product.Images != null && Model.Product.Images.Count > 0)
                    {
                        @foreach (var item in Model.Product.Images)
                        {
                            <img src="@item.URL" style="width:400px;" class="mb-4 me-4 img-fluid" />
                        }
                    }
                    else
                    {
                        <img src="https://placehold.co/100x100" class="img-fluid rounded" />
                    }
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-md-8 col-lg-12 shadow p-4 mx-auto text-center info-card ">

                    <p><strong>Produktinformation:</strong><br /> @Model.Product.Description</p>
                    @if (Model.Product.Quantity <= 5)
                    {
                        <p class="text-danger"><strong>Fåtal produkter kvar</strong></p>
                    }

                    @if (Model.Product.IsCampaign && Model.Product.TempPrice > 0)
                    {
                         <p class="text-decoration-line-through"><strong>Pris:</strong> @Model.Product.Price.ToString("C0")</p>
                         <p class="text-danger"><strong>Pris:</strong> @Model.Product.TempPrice.ToString("C0")</p>
                    }
                    else
                    {
                        <p><strong>Pris:</strong> @Model.Product.Price.ToString("C0")</p>
                    }

                    <p><strong>Antal</strong></p>
                    <div class="input-group mb-3 p-2 me-2 justify-content-center ">                   
                        <input type="number" asp-for="Count" value="1" class="text-center rounded p-0 d-inline-block" />         
                    </div>

                    <div>
                        <button type="submit" class="button-pink">Lägg i varukorg</button>
                        <a asp-action="Products" class="button-grey">Tillbaka</a>
                        <a class="button-heart" asp-controller="User" asp-action="AddToList" asp-route-id="@Model.Product.ProductId"><i class="bi bi-heart"></i></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>




