@model IEnumerable<Cart>


<link href="/css/ViewSpecific/Shoppingcart.css" rel="stylesheet" />


@{ decimal total = 0;}
@{ decimal discount = 0;}
<section class="mx-auto pb-2">
    <div class="text-center bg-secondary">
        <h2>Kundkorg</h2>
    </div>
    <hr class="line"/>
    @foreach (var item in Model)
    {
        <div class="mb-2 px-4 d-flex justify-content-between">
            <div class="border-2">
                @if (item.Product.Images.Any())
                {
                    <img src="@item.Product.Images.First().URL" style="width: 75px;" class="border border-2" />
                }
                else
                {
                    <img src="https://placehold.co/100x100" style="width: 75px;" />
                }
            </div>

            <div class="d-flex flex-column">
                <p class="title">@item.Product.Title</p>
                @if (item.Product.IsCampaign && item.Product.TempPrice > 0)
                {
                    <p class="text-danger"> @item.Product.TempPrice.ToString("c0") /st</p>
                }
                else
                {
                    <p class=""> @item.Product.Price.ToString("c0") /st</p>
                }

            </div>
            <div class="outer-wrapper">
                <div class="wrapper">
                    <span class="minus" id="minusbutton" data-id="@item.CartId"><i class="bi bi-dash-square"></i></span>
                    <span class="num">@item.Count</span>
                    <span class="plus" id="plusbutton" data-id="@item.CartId"><i class="bi bi-plus-square"></i></span>
                </div>
                <span class="delete" id="deletebutton" data-id="@item.CartId"><i class="bi bi-trash basket_trash"></i></span>
            </div>
            <div class="productTotal">
                @if (item.Product.IsCampaign && item.Product.TempPrice > 0)
                {
                    @((item.Product.TempPrice * item.Count).ToString("c0"))
                }
                else
                {
                <p> @((item.Product.Price * item.Count).ToString("c0"))</p>
                }

            </div>


        </div>
        <hr />
        @if (item.Product.IsCampaign && item.Product.TempPrice > 0)
        {
            <input hidden @{total += (item.Product.TempPrice * item.Count);} />
            <input hidden @{discount += ((item.Product.TempPrice * item.Count) - (item.Product.Price * item.Count));} />
        }
        else
        {
            <input hidden @{total +=(item.Product.Price * item.Count);} />
        }

    }

    <div class="text-center pb-3">
        <p class="fs-4 text-dark"><strong>Totalt: @total.ToString("C0")</strong></p>
        @if (discount < 0)
        {
            <p class="fs-6 text-dark">Sparat på rea: <span class="text-danger">@discount.ToString("C0")</span></p>
        }
        <a asp-area="Customer" asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-dark d-block mx-auto w-50">Checkout</a>
    </div>
</section>


