@model CreateOrderVM

@{ decimal total = 0;}
<form method="post">
    <div class="p-3 shadow">
        <div class="d-flex justify-content-between">

            <table class="p-3 col-7">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Antal</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Carts)
                    {
                        <tr>
                            <td>@item.Product.Title</td>
                            <td>@item.Count</td>
                            <td>@((item.Product.Price * item.Count).ToString("c0"))</td>
                            <p hidden>@{total += (item.Product.Price * item.Count);}</p>

                        </tr>

                    }
                </tbody>
            </table>
            <div class="p-2 col-5">
                <p>Bekräfta uppgifter eller ändra</p>
                <input asp-for="@Model.ApplicationUser.Name" class="form-control" />
                <input asp-for="@Model.ApplicationUser.StreetAddress" class="form-control" />
                <input asp-for="@Model.ApplicationUser.ZipCode" class="form-control" />
                <input asp-for="@Model.ApplicationUser.City" class="form-control" />
                <input asp-for="@Model.ApplicationUser.PhoneNumber" class="form-control" />
                <input type="hidden" asp-for="ApplicationUserId"  />
                <input type="hidden" asp-for="OrderTotal" value="@total" />
                @*<input type="hidden" asp-for="@Model.Carts[0].ApplicationUser"  />*@

            </div>
        </div>
        <div class="text-center">
            <p>Totalt: @total.ToString("C0")</p>
            <button type="submit" class="btn btn-primary">Betala Order</button>
        </div>

    </div>
</form>
