@model CreateOrderVM

@{ decimal total = 0;}
@{ decimal discount = 0;}
<form method="post">
    <div class="pb-3 shadow border rounded">
        <div class="d-flex justify-content-between">
            <div class="px-4 py-3 col-5">
                <p class="text-center"><strong>Bekräfta eller ändra din adress</strong></p>
                <label>Namn</label>
                <input asp-for="@Model.ApplicationUser.Name" class="form-control" />
                <label>Mobilnummer</label>
                <input asp-for="@Model.ApplicationUser.PhoneNumber" class="form-control" />
                <label>Adress</label>
                <input asp-for="@Model.ApplicationUser.StreetAddress" class="form-control" />
                <label>Postnummer</label>
                <input asp-for="@Model.ApplicationUser.ZipCode" class="form-control" />
                <label>Ort</label>
                <input asp-for="@Model.ApplicationUser.City" class="form-control" />

                <input type="hidden" asp-for="ApplicationUserId" />

            </div>
            <div class="col-7 p-3 bg-secondary bg-opacity-75">
                <div class="p-3 text-white">
                    @foreach (var item in Model.Carts)
                    {
                        <div class="col-md-10 col-xl-6 d-flex justify-content-between">
                            <div class="d-flex flex-column me-2">
                                <span class="me-2"><strong>Antal:</strong></span>
                                <span class="me-2">@item.Count</span>
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <span class="me-2"><strong>Produkt:</strong></span>
                                <span class="me-2"> @item.Product.Title</span>
                            </div>
                            <div class="d-flex flex-column">
                                <span><strong>Pris:</strong></span>
                                @if (item.Product.IsCampaign && item.Product.TempPrice > 0)
                                {
                                    <span>@((item.Product.TempPrice * item.Count).ToString("c0"))</span>
                                }
                                else
                                {
                                    <span>@((item.Product.Price * item.Count).ToString("c0"))</span>
                                }

                            </div>

                        </div>
                        <hr />
                        @if (item.Product.TempPrice > 0)
                        {
                            <input hidden @{discount += (item.Product.TempPrice * item.Count);} />
                        }
                        else
                        {
                            <input hidden @{total += (item.Product.Price * item.Count);} />
                        }


                    }

                </div>
            </div>
            <input type="hidden" asp-for="OrderTotal" value="@(total+discount)" />
        </div>
        <div class="text-center mt-3">
            <strong>Totalt: @((total + discount).ToString("C0"))</strong>
                <div class="mb-3">
                    <label>
                        <input type="checkbox" asp-for="Terms" />
                        Acceptera <a asp-action="Terms">Allmänna Köpvillkor</a>.
                    </label>
                </div>
            <button type="submit" class="btn btn-primary">Betala Order</button>
        </div>

    </div>
</form>