@model CreateOrderVM

@{ decimal total = 0;}
<form method="post">
    <div class="p-3 shadow">
        <div class="d-flex justify-content-between">
            <div class="p-2 col-4">
                <p>Bekräfta uppgifter eller ändra</p>
                <label>Namn</label>
                <input asp-for="@Model.ApplicationUser.Name" class="form-control" />
                <label>Mobilnummer</label>
                <input asp-for="@Model.ApplicationUser.PhoneNumber" class="form-control" />
                <label>Adress</label>
                <input asp-for="@Model.ApplicationUser.StreetAddress" class="form-control" />
                <label>Postnummer</label>
                <input asp-for="@Model.ApplicationUser.ZipCode" class="form-control" />
                <label>Ort</label>
                <input asp-for="@Model.ApplicationUser.City" class="form-control" />

                <input type="hidden" asp-for="ApplicationUserId" />
                <input type="hidden" asp-for="OrderTotal" value="@total" />
                @*<input type="hidden" asp-for="@Model.Carts[0].ApplicationUser"  />*@
            </div>
            <div class="col-7 ms-3 p-4">
                <table class="p-3 col-8 mt-3">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Antal</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Carts)
                        {
                            <tr>
                                <td>@item.Product.Title</td>
                                <td>@item.Count</td>
                                <td>@((item.Product.Price * item.Count).ToString("c0"))</td>
                                <p hidden>@{total += (item.Product.Price * item.Count);}</p>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
           
        </div>
        <div class="text-center">
            <p><strong>Totalt: @total.ToString("C0")</strong></p>
            <button type="submit" class="btn btn-primary">Betala Order</button>
        </div>

    </div>
</form>
