@model IEnumerable<Order>

<link href="~/css/ViewSpecific/Order.css" rel="stylesheet" />

<div class="order-card">
    <div class="p-3">
        <div class="text-center mb-3">
            <h1>Order Historik</h1>
        </div>
        <div class="table-responsive">
        <table class="table table-custom">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>OrderDatum</th>
                    <th>Summa</th>
                    <th>Status</th>
                    <th>Hanterad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-light">
                        <td>@item.OrderId</td>
                        <td>@item.OrderDate.ToShortDateString()</td>
                        <td>@item.OrderTotal.ToString("c0")</td>
                        <td>@item.Status</td>

                        <td>
                        @if (item.ShippingDate != null && item.ShippingDate >= new DateTime(2024, 1, 1))
                        {
                            <span>@item.ShippingDate.ToShortDateString()</span>
                        }
                        else
                        {
                            <span>Inte skickad</span>
                        }
                        </td>
                        <td>
                            <a asp-area="Customer" asp-controller="Cart" asp-action="HistoryDetails" asp-route-orderId="@item.OrderId" class="button-pink">Detaljer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <div class="mt-2">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="button-pink">Hem</a>
        </div>
    </div>
</div>

