@model IEnumerable<Order>

<div class="p-3">
    <div class="text-center mb-3">
        <h1>Order Historik</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>OrderDatum</th>
                <th>Summa</th>
                <th>Status</th>
                <th>Hanterad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderDate.ToShortDateString()</td>
                    <td>@item.OrderTotal.ToString("c0")</td>
                    <td>@item.Status</td>
                    @if (item.ShippingDate < new DateTime(2024, 1, 1))
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@item.ShippingDate.ToShortDateString()</td>
                    }
                    <td><a asp-area="Customer" asp-controller="Cart" asp-action="HistoryDetails" asp-route-orderId="@item.OrderId" class="btn-sm btn-primary text-decoration-none">Detaljer</a></td>
                </tr>

            }
            </tbody>
        </table>
        <div class="mt-2">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary">Hem</a>
        </div>
    </div>


