@model IEnumerable<Cart>


@{ decimal total = 0;}
<section class="mx-auto shadow pb-2 col-12 col-lg-9 col-xl-6">
    <div class="text-center bg-secondary text-white mb-2 py-3">
        <h2>Kundkorg</h2>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <div class="mb-2 row px-2">
            <div class="col-3">
                @if (item.Product.Images.Any())
                {
                    <img src="@item.Product.Images.First().URL" style="width: 75px;" class="border border-2" />
                }
                else
                {
                    <img src="https://placehold.co/100x100" style="width: 75px;" />
                }
            </div>
            <div class="col-9 d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <div><strong>@item.Product.Title</strong></div>
                    <div class=""> @item.Product.Price.ToString("c0") /st</div>
                </div>
                <div class="d-flex">
                    Antal:
                    <div>
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Minus" asp-route-id="@item.CartId" class="btn-sm btn-outline-primary text-decoration-none p-1 ms-2"><i class="bi bi-dash-square"></i></a>
                    </div>
                    @item.Count
                    <div>
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Plus" asp-route-id="@item.CartId" class="btn-sm btn-outline-primary text-decoration-none p-1 me-3"><i class="bi bi-plus-square"></i></a>
                    </div>
                    <div>
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Delete" asp-route-id="@item.CartId" class="btn-sm btn-danger text-decoration-none me-1"><i class="bi bi-trash"></i></a>
                    </div>
                </div>
                <div class="fw-bold">
                    @((item.Product.Price * item.Count).ToString("c0"))
                </div>

            </div>
        </div>
        <hr />
        <input hidden @{total += (item.Product.Price * item.Count);} />
    }

<div class="text-center mb-3">
    <p class="fs-4"><strong>Totalt: @total.ToString("C0")</strong></p>
    <a asp-area="Customer" asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-dark d-block mx-auto w-50">Checkout</a>
</div>
</section>

