@model IEnumerable<Cart>


@{ decimal total = 0;}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Produkt</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                            @if (item.Product.Images.Any())
                            {
                                <td><img src="@item.Product.Images.First().URL" style="width: 100px;" /></td>
                            }
                            else
                            {
                                <td><img src="https://placehold.co/100x100" style="width: 100px;" /></td>
                            }
                        <td>@item.Product.Title</td>
                        <td>@item.Count</td>
                        <td>@item.Product.Price.ToString("c")</td>
                        <td>@((item.Product.Price * item.Count).ToString("c"))</td>
                        <p hidden>@{total += (item.Product.Price * item.Count);}</p>

                    </tr>
                   
            }
                </tbody>
            </table>
        <p>@total.ToString("C")</p>
        <a class="btn btn-primary">Checkout</a>
    </div>

